<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="../css/styles.css"
    />
    <script
      src="../js/aparecerSeccion.js"
      defer
    ></script>
    <script
      src="../js/gracias.js"
      defer
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="section aparecer recibido">
      <h2 class="titulo">CONFIRMACIÓN RECIBIDA</h2>
      <img
        class="separador"
        src="../assets/separador.png"
        alt="separador"
      />
      <div
        class="resumen"
        id="resumen"
      ></div>

      <button class="boton" ><a href="../index.html">Volver a la web</a></button>
    </div>

        <div class="fondo">
      <img
        src="../assets/fondo.png"
        alt="imagen fondo"
      />
    </div>
  </body>
</html>
